.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/app/app.xml
/parallaxviewpager/parallaxviewpager.iml
/libary/libary.iml
/emoji/emoji.iml
/bundle2/bundle2.iml

